.button {
  background-color: $button-bg;
  border: none;
  color: $button-txt-color;
  line-height: 1.2;
  cursor: pointer;
  padding: $input-spacing;
  text-transform: uppercase;
  font-size: $base-font-size;
  margin-bottom: $space;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  padding: .3rem .8rem;
  margin: 0 ($space/2) 0 0; 
}

.button--secondary {
  color: $button-secondary-color;
  background: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
}

.button--link-text {
  background: transparent;
  border: none;
  text-decoration: underline;
  margin: 0;
  padding: 0
}
